#dynamicallyResizingEq {
    width: 100%;
    height: 100%;
    max-height: 1080px;
}

.EQ {
    background: radial-gradient(ellipse at top, #333, #222);
    --font: 10pt 'Noto Sans', 'Noto Sans Regular', 'Roboto', 'Oxygen', 'Cantarell', 'Droid Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
    --title-font: 32pt 'Noto Sans', 'Noto Sans Regular', 'Roboto', 'Oxygen', 'Cantarell', 'Droid Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
    --title-fill: #999;
    --grid-stroke-major: #666;
    --grid-stroke-minor: #444;
    --sum-stroke: rgb(149, 255, 220);
    --sum-fill: rgba(161, 236, 211, 0.342);
    --band-stroke: var(--sum-fill);
    --band-fill: var(--sum-fill);
    --disabled-bandStroke: #8884;
    --disabled-bandFill: #8882;
    --label-gap-top: 24px;
    --label-gap-left: 46px;
}

#miniatures .EQ {
    --title-font: bold 8pt 'Noto Sans', 'Noto Sans Regular', 'Roboto', 'Oxygen', 'Cantarell', 'Droid Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
    --title-fill: #aaa;
}