body {
  margin: 0;
  font-family: 'Noto Sans', 'Noto Sans Regular', 'Roboto', 'Oxygen', 'Cantarell', 'Droid Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, 'Droid Sans Mono', 'Roboto Mono', Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
